@model IEnumerable<ASP.NET.MVC.Class04.Models.DTO.CoursesWithStudentDTO>
<h1>
    Get All Courses
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>
                    @Html.RenderPartialAsync("_PartialStudentsView", course.Students);
                </td>
            </tr>
            <></>
        }
    </tbody>
</table>